accelerate==0.13.1
aiofiles==22.1.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
attrs==22.1.0
black==22.10.0
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.1.3
filelock==3.8.0
flake8==5.0.4
fluent-logger==0.10.0
frozenlist==1.3.1
httptools==0.5.0
huggingface-hub==0.10.0
idna==3.3
inflection==0.5.1
iniconfig==1.1.1
isort==5.10.1
libcst==0.4.7
mccabe==0.7.0
msgpack==1.0.4
multidict==6.0.2
mypy-extensions==0.4.3
numpy==1.23.3
packaging==21.3
pathspec==0.9.0
platformdirs==2.5.2
pluggy==1.0.0
psutil==5.9.2
py==1.11.0
pycln==2.1.1
pycodestyle==2.9.1
pydantic==1.9.0
pydocstyle==6.1.1
pyflakes==2.5.0
pyparsing==3.0.9
pytest==7.0.0
pytest-mock==3.10.0
PyYAML==6.0
regex==2022.9.13
requests==2.27.1
sanic==22.6.2
sanic-routing==22.3.0
snowballstemmer==2.2.0
steamship==2.1.31
tokenizers==0.13.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.5
torch==1.12.1
tqdm==4.64.1
transformers==4.23.0
typer==0.6.1
typing-inspect==0.8.0
typing_extensions==4.4.0
ujson==5.5.0
urllib3==1.26.7
uvloop==0.17.0
websockets==10.3
yarl==1.8.1
